.grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 1.5rem;
  justify-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.noResults {
  padding: 2rem;
  text-align: center;
  font-style: italic;
  color: var(--grey-text);
}
